.profileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .rightbarFriend{
    display:flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px;
      border-radius: 5px;
  }
  .rightbarFriend:hover{
    background-color: rgb(217, 218, 219);
  }
  .rightbaruserimg{
    margin-right: 10px;
    position: relative;
  }
  
  .Useronline{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: green;
    margin: -2px;
    top: 0;
    border: 2px solid white;
   }
     .UserName{
    font-weight: 500;
       }